* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  color: darkgreen;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: rgb(235, 243, 235);
}
h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.plants-image {
  width: 50px;
}
.logo {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
#logoImg {
  width: 50px;
  height: 50px;
}
.user-icon,
.search {
  width: 25px;
  height: 25px;
}
#menu {
  background-color: rgb(240, 247, 240);
  width: 35px;
  height: 35px;
}
.shop-icon {
  width: 35px;
  height: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(240, 247, 240);
  top: 0;
  gap: 15px;
  padding: 8px 20px;
  z-index: 1000;
}
.ourShop,
#login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
}
.nav-links div,
#Register,
#shop,
.search-icon {
  visibility: hidden;
  height: 0;
  width: 0;
}
header figcaption {
  font-size: 20px;
  font-weight: bold;
}
#search {
  background-color: rgb(240, 247, 240);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#search input {
  background-color: transparent;
  border-color: transparent;
  width: 70px;
}

#home {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  color: honeydew;
  flex-direction: column;
  gap: 20px;
  padding: 120px 60px;
}
#home p {
  text-align: start;
  font-size: 18px;
}
h1 {
  font-size: 50px;
}
button {
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 15px;

  transition: all 0.3s ease;
}
button:hover {
  background-color: honeydew;

  color: darkgreen;
}
#story {
  text-align: center;
  margin-top: 40px;
  padding: 8px 20px;
}
#spanStory {
  width: auto;
  border-radius: 15px;
  padding: 5px 8px;
  transition: all 0.3s ease;
}
#spanStory:hover {
  color: honeydew;
  background-color: darkgreen;
  transform: scale(1.1);
}
#icons {
  padding: 20px 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
#icons h2 {
  text-align: center;
  margin-top: 30px;
}
.list {
  display: grid;
  gap: 10px;
  list-style-type: none;
  grid-template-columns: 1fr 1fr;
}
.list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.list p {
  text-align: center;
  font-size: 18px;
}
.list img {
  width: 90px;
  height: 90px;
  transition: all 0.3s ease;
}
.list img:hover {
  transform: scale(1.1);
}
h4 {
  color: darkgreen;
  font-size: 21px;
}
#ourShop {
  padding: 20px;
}
.shop {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}
.shop a {
  transition: all 0.3s ease;
}
.shop a:hover {
  color: honeydew;
  background-color: darkgreen;
  border-radius: 15px;
  padding: 7px 10px;
}
.scroll-pics {
  display: flex;
  gap: 30px;

  overflow-x: auto;
  margin-top: 30px;
  scrollbar-width: none;
}
.scroll-pics::-webkit-scrollbar {
  display: none;
}
.scroll-pics figcaption div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-pics figcaption span {
  color: darkgreen;
  font-weight: 600;
}
.scroll-pics figcaption p {
  font-size: 14px;
  line-height: 1.6;
}

.shop-image {
  width: 180px;
  height: 210px;
  border-color: honeydew;
  border-radius: 5px;
}
.scroll-pics figure {
  transition: all 0.3s ease;
}
.scroll-pics figure:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#story {
  margin-bottom: 30px;
}

video {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  padding-left:10% ;
}
#about {
  padding: 8px 20px;
  margin-top: 50px;
}
#about h2 {
  text-align: center;
}
#about picture {
  width: 80%;
}
#about img {
  margin-top: 20px;
  width: 100%;
}

#code {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
#code h4 {
  font-size: 25px;
}
#promoCode {
  background-color: honeydew;
  border-color: green;
  border-radius: 10px;
  padding: 8px 20px;
}
#submit {
  padding: 8px 20px;
  background-color: honeydew;
  border-radius: 10px;
  border: transparent;
  transition: all 0.3s ease;
}
#submit:hover {
  background-color: darkgreen;
  color: honeydew;
}

footer {
  background-color: white;
  color: white;
  overflow-x: hidden;
}
footer > ul {
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 30px;
  gap: 20px;
  margin-top: 50px;
  list-style-type: none;
}

footer li ul {
  list-style-type: none;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: rgb(12, 13, 12);
  font-size: 15px;
  transition: color 0.3s ease;
}
footer a:hover {
  color: darkgreen;
  opacity: 0.7;
}
footer figcaption {
  font-size: 17px;
  font-weight: bold;
}
footer h4 {
  font-size: 17px;
  margin-bottom: 13px;
}

#storySection {
  visibility: hidden;
  height: 0;
  width: 0;
}

.footerdeco {
  width: 200px;
  height: 160px;
  position: relative;
  right: 120px;
}

@media (min-width: 600px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  #login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header a {
    text-decoration: none;
    color: rgb(12, 13, 12);
    transition: color 0.3s ease;
  }
  header a:hover {
    color: darkgreen;
    opacity: 0.7;
  }
  .search-icon {
    width: 25px;
    height: 25px;
  }
  footer h4,
  footer figcaption {
    font-size: 20px;
  }
  footer p {
    font-size: 17px;
  }
  footer > ul {
    display: flex;
    gap: 60px;
  }

  .footerdeco {
    width: 230px;
    height: 190px;
    position: relative;
    right: 120px;
  }
}
@media (min-width: 1024px) {
  #login,
  #ourShop {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }

  #Register,
  #shop {
    visibility: visible;
    height: auto;
    width: auto;
  }
  .nav-links div {
    visibility: visible;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .nav-links li:last-child {
    visibility: hidden;
    width: 0;
  }
  .list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    font-size: 70px;
  }

  footer > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  footer figcaption {
    font-size: 24px;
  }
  footer h4 {
    font-size: 24px;
  }
  footer li {
    line-height: 1.9;
  }

  .shop-image {
    width: 200px;
    height: 240px;
    border-color: honeydew;
    border-radius: 5px;
  }

  .footerdeco {
    width: 300px;
    height: 260px;
    position: relative;
    right: 140px;
  }
}
